html {
    background-color: darkolivegreen;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.oneFoot {
    display: flex;
    flex: 1;
    padding: 1vh;
}

.fullRow {
    display: flex;
    margin: 5px 0px;
    background-color: rgb(179, 118, 49);
    border-radius: 10px;
}
.beet {
    border-radius: 10px;
    background-color: rgb(110, 51, 237);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}